.newBoxForm {
    background-color: $color-primary;
    width: 42rem;
    border-top-right-radius: $border-radius-large;
    border-bottom-right-radius: $border-radius-large;
    box-shadow: 5px 15px 20px 1px rgba(black, .3);
    padding: 10rem;
    padding-top: 5rem;
}



